<div class="container">
  <h1>Journal</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Content</th>
      <!--<th>Owner</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @days.each do |day| %>
        <tr>
          <td class="col-sm-2"><%= get_date_text(day) %></td>
          <td class = "col-sm-7"><%= day.content %></td>
          <!--<td><%= day.user_id %></td>-->
          <td class = "col-sm-1"><%= link_to 'Show', day %></td>
          <td class = "col-sm-1"><%= link_to 'Edit', edit_day_path(day) %></td>
          <td class = "col-sm-1"><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Day', new_day_path %>
</div>
